#header {
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 15%;
    /* padding: 1rem; */
}

#gouTools {
    display: inline-block;
    max-width: 73vw;
    max-height: 150px;
    margin-right: 1vw;
}

#credit {
    display: inline-block;
    max-width: 12vw;
    margin-left: 1vw;
    margin-right: 2vw;
}

.content {
    text-align: center;
    overflow: auto;
}

.wrapper {
    display: inline-block;
    vertical-align: top;
}

h1 {
    font-size: 2em;
    line-height: 0.8em;
}

h2 {
    font-size: 1em;
    line-height: 0.5em;
}

@media (min-width: 600px) and (orientation: landscape) {
    .settings, .generator {
        display: inline-block;
    }
}

.settings {
    text-align: left;
    line-height: 1.8;
    padding: 2rem;
    padding-top: 1rem;
    margin: 0 auto;
    /* border: 1px solid red; */
}

input[type="number"] {
    width: 50px;
}

.generator {
    padding: 2rem;
    margin: 0 auto;
    text-align: left;
    /* border: 1px solid blue; */
}

.preview_header {
    display: flex;
    align-items: center;
    height: 2rem;
}

#preview_label {
    margin-right: 3rem;
}

#preview_button {
    margin-left: auto;
}

.preview-layers {
    position: relative;
}

.preview-layers canvas {
    position: absolute;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #222222;
    text-align: center;
    color: #e0e0e0;
}